{% extends 'base_site.html' %}
{% block content %}
<div class="row ">
    
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-success">
          <strong>{{message}}</strong>

        </div>
        {% endfor%}
        {% endif %}
        <div>

            <ul class="list-unstyled float-end   ">
                <li><a href="{% url 'college_detail:add_college' %}" class="btn btn-sm btn-success">Add College</a></li>
                
                
            </ul>
        </div>
    
    {% for data in data %}
    <div class="col-sm-12 col-md-3 col-lg-3 mt-1 ml-2">
        
           
       <img src="{{data.picture.url}}" class="w-100 rounded-circle" alt="college_profile">
      
    </div>
    <div class="col-sm-12 col-md-5 col-lg-5 mt-1">
        
        <h4><strong>{{data.college_name}}</strong></h4>
        <h5>{{data.program}}</h5>
        <p><b>Address:</b> &nbsp;{{data.address}} <br> <b>Contact:</b>&nbsp;{{data.contact}} <br> <span class="text-muted">{{data.description}}</span>
        <br><a href="{{data.website}}" target="_blank">website: {{data.website}} </a></p>
        <div class="float-left">
            <a  href="{% url 'college_detail:edit_college' data.id %}" class="text-decoration-none"><i class="fa-regular fa-pen-to-square"></i></a>
            
            
             
            <a data-collegeid="{{ data.id }}" data-bs-toggle="modal" data-bs-target="#deleteModal" class="btn p-0 text-danger">
                <i class="fa-solid fa-trash"></i></a>
        </div>
   
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4"></div>
    {% endfor %}
</div>



<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Delete Post</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this post ?
                <form id="del-form" action="{% url 'college_detail:delete_college' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="_college_id" name="college_id" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="del-btn" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
  {{ block.super }}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script type="text/javascript">
   
        let modal = document.getElementById("deleteModal");
        modal.addEventListener("show.bs.modal", function(evt){
            let btn = evt.relatedTarget;
            let collegeid = btn.dataset.collegeid;
            let college_id = document.getElementById("_college_id")
            college_id.value = collegeid;
            
            
        });
        let delBtn = document.getElementById("del-btn");
        delBtn.addEventListener("click", function(){
            let delForm = document.getElementById("del-form");
            
            delForm.submit();
        })

       
    
      

  </script>
  {% endblock script %}

